﻿@model QUFLEET.Web.Models.AirportsViewModel
@{
    ViewBag.Title = "AirportIndex";
}

<h2>Airports index page</h2>

<p style="color: red">@TempData["editResult"]</p>

@Html.Partial("AirportEdit", Model.EditedAirport);
@Html.Partial("Airportslist", Model.AirportsList);