﻿@model IEnumerable<QUFLEET.Web.Models.AirportsModel>

<h2>List of airports</h2>

@if (Model.Count() == 0)
{
    <p>No data available</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Country)</th>
            <th>@Html.DisplayNameFor(m => m.First().City)</th>
            <th>Datasheet</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(m => item.Country)</th>
                <th>@Html.DisplayFor(m => item.City)</th>
                <th>@Html.ActionLink("[SHOW]", "Details", new { id = item.ID })</th>
                <th>@Html.ActionLink("[EDIT]", "Edit", new { id = item.ID })</th>
                <th>@Html.ActionLink("[DEL]", "Delete", new { id = item.ID })</th>
            </tr>
        }
    </table>
}
