﻿@model QUFLEET.Web.Models.AirportsModel

<h2>Edit selected airport</h2>

@using (Html.BeginForm("Edit", "Airports"))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();

    @Html.HiddenFor(m => m.ID);
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">
        @Html.LabelFor(m => m.IATA);
    </div>

    <div class="editor-field">
        @Html.EditorFor(m => m.IATA);
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.ICAO);
    </div>

    <div class="editor-field">
        @Html.EditorFor(m => m.ICAO);
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.FAA);
    </div>

    <div class="editor-field">
        @Html.EditorFor(m => m.FAA);
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Country);
    </div>

    <div class="editor-field">
        @Html.EditorFor(m => m.Country);
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.City);
    </div>

    <div class="editor-field">
        @Html.EditorFor(m => m.City);
    </div>

    <input type="submit" value="SAVE" />
}