﻿@model QUFLEET.Web.Models.AirportsModel
@{
    ViewBag.Title = "AirportsDetails";
}

<h2>Detailed view of the airport</h2>

@Html.ActionLink("Back to the rest...", "Index");

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ID)</td>
        <td>@Html.DisplayFor(m => m.ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.IATA)</td>
        <td>@Html.DisplayFor(m => m.IATA)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ICAO)</td>
        <td>@Html.DisplayFor(m => m.ICAO)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.FAA)</td>
        <td>@Html.DisplayFor(m => m.FAA)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Country)</td>
        <td>@Html.DisplayFor(m => m.Country)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.City)</td>
        <td>@Html.DisplayFor(m => m.City)</td>
    </tr>
</table>