﻿@{
    ViewBag.Title = "Calorie Calculator";
}

<h2>Calorie Calculator</h2>

<form method="post" action="~/Home/Results">
    <p>Athlete's name <input type="text" name="Name" /></p>
    <p>Athlete's weight <input type="text" name="Weight" /></p>
    <p>
        Excercise <select name="Exercise">
            @{
                CalorieCalculator.Models.CalorieInputs calorieInputs = new CalorieCalculator.Models.CalorieInputs();

                foreach (CalorieCalculator.Models.Exercise exercise in calorieInputs.Excercises)
                {
                    <option value="@exercise.Name">@exercise.Name</option>
                }
            }
        </select>
    </p>
    <p>Duration <input type="text" name="Duration" /> </p>
    <input type="submit" value="Calculate" />
</form>