﻿@model CalorieCalculator.Models.CalorieResults

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<table border="0">
    <tr>
        <td style="padding: 10px; text-align: right;">Athlete's name:</td>
        <td style="padding: 10px;">@Model.Name</td>
    </tr>
    <tr>
        <td style="padding: 10px; text-align: right;">Athlete's weight:</td>
        <td style="padding: 10px;">@Model.Weight</td>
    </tr>
    <tr>
        <td style="padding: 10px; text-align: right;">Excercise's duration:</td>
        <td style="padding: 10px;">@Model.Duration</td>
    </tr>
    <tr>
        <td style="padding: 10px; text-align: right;">Burned Calories</td>
        <td style="padding: 10px;">@Model.BurnedCalories</td>
    </tr>
</table>